*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.box{
    box-shadow: 0px -33px 14px 4px rgba(0, 0, 0, 0.4) inset;
    position: absolute;
    z-index: 10;
    width: 410px;
    height: 100px;
margin-top: 410px;
    
    border-radius: 20px;
  }

  .box2{
    box-shadow: 0px -33px 14px 4px rgba(0, 0, 0, 0.4) inset;
    position: absolute;
    z-index: 10;
    width: 400px;
    margin-top: 170px;
    height: 80px;
    border-radius: 20px;
  }

  .box3{
    box-shadow: 0px -33px 14px 4px rgba(0, 0, 0, 0.4) inset;
    position: absolute;
    z-index: 10;
    width: 400px;
    height: 80px;
    margin-top: 170px;
    border-radius: 20px;
  }



.container{
    width: 850px;
    height: 510px;
    display: flex;
    margin-top: 5px;
    margin-left: 140px;
}
.container .col1{
    width: 100%;
    height: 100%;
    margin: 10px;
    border-radius:20px;
    color: rgb(255, 255, 255);
    background-color: black;
    align-items: flex-start; 
    overflow: hidden;
}

.container .col21{
    width: 400px;
    height: 250px;
    margin: 10px;
    border-radius:20px;
    color: aliceblue;
    background-color: black;
    overflow: hidden;
}

.container .col22{
    width: 400px;
    height: 250px;
    margin: 10px;
    border-radius:20px;
    color: aliceblue;
    background-color: black;
    overflow: hidden;
}

img
{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: relative;
    z-index: 1;
    transition: 0.3s all linear;
}

h2{
    /* width: 560%;
    text-align: center;
    position: absolute;
    font-size: 20px;
    top:525px ;
    left: 80px;  */


        /* width: 560%; */
    /* text-align: center; */
    position: absolute;
    z-index: 11;
    /* font-size: 20px; */
    top: 475px;
    /* left: 80px; */
    margin-left: 7%;

}

h1{
    /* position: absolute;
    top: 475px;
    margin-left: 7%; */
    /* position: absolute;
    top: 209px;
    margin-left: 5%;
    font-size: 2em; */
    position: absolute;
    top: 209px;
    margin-left: 7%;
    font-size: 24px;
    z-index: 11;
}

.container img:hover{
    transform: scale(1.4);
}


